<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS only -->
  {{!-- link路徑從javascripts 開始才行 --}}
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Document</title>

</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">新增餐廳</button>
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  <!-- search bar -->

  {{{body}}}

  {{!-- modal --}}
  <form action="" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">新增餐廳</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">餐廳名稱</span>
              <input type="text" class="form-control" placeholder="ex:好吃牛肉麵" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">電話</span>
              <input type="text" class="form-control" placeholder="ex: 0900-000000, 02-0000000"
                aria-label="phone-number" aria-describedby="basic-addon2">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">餐廳類別</span>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <div class="input-group mb-3" style="background-color: gray,"></div>
                <option selected>請選擇餐廳風格</option>
                <option value="義式">義式</option>
                <option value="美式">美式</option>
                <option value="台式">台式</option>
                <option value="日式">日式</option>
                <option value="早午餐">早午餐</option>
                <option value="宵夜">宵夜</option>
                <option value="酒吧">酒吧</option>
                <option value="其他">其他</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">自評分數</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="1~5分">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">上傳圖片</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                value="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5632/06.jpg" disabled>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>
  </form>
  <script src="/javascripts/jquery-3.6.0.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>